#heading {
    color: red;
}

.imageTag {
    width: 130px;
    height: 100px;
}

.navBar {
    display: flex;
    padding: 10px;
}

.navBar li {
    padding: 10px;
    list-style-type: none;
    cursor: pointer;
    font-family: 'Inter';
}

.mainContainer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
}

.receipeImage {
    width: 100%;
    border-radius: 20px;
}

.receipeList {
    display: flex;
    flex-wrap: wrap;
}

.individualReceipe {
    margin: 15px;
    width: 300px;
    height: 400px;
    background-color:  #f2ffe6;
    border-radius: 15px;
}

.receipeContainer {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.receipeContainer > div {
    margin: 5px 0px 5px 0px;
}

.receipeName {
    font-family: 'Inter';
    font-weight: bold;
    display: flex;
    align-items: flex-start;
}

.nameAndRatingContainer {
    display: flex;
    justify-content: space-between;
}

.ingredientsList {
    font-family: 'Inter';
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.abbrStyles {
    cursor: pointer;
    text-decoration: none;
}

.receipeRating {
    font-weight: bold;
    font-family: 'Inter';
    margin-left: 5px;
}

.imageAndCookTimeContainer {
    position: relative;
}

.cookTime {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    font-family: 'Inter';
    font-weight: bold;
}

.receipeToolbar {
    margin: 20px;
    display: flex;
}

.searchReceipe {
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #C7C9CD;
    font-family: 'Inter';
}

input::placeholder {
    padding-left: 2px;
}

.searchButton {
    border-radius: 5px;
    border: 2px solid #C7C9CD;
    height: 30px;
    cursor: pointer;
}

.topRatedReceipes {
    margin-left: 30px;
    border-radius: 5px;
    border: 2px solid #C7C9CD;
    height: 30px;
    font-family: 'Inter';
}

.topRatedReceipes {
    cursor: pointer;
}

.linkText {
    text-decoration: none;
    color: black;
}

.receipeInfo {
    background-color: #f2f2f2;
    margin: 30px;
    width: 70%;
    height: 70%;
    border-radius: 20px;
    display: flex;
}

.receipeInfo > div {
    margin: 20px;
}

.receipeInfoImage {
    width: 300;
    height: 300px;
    border-radius: 10px;
}

.receipeBody > div {
    margin: 10px;
}

.receipeInfoName {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 30px;
}

.receipeInfoIngredient {
    font-family: 'Inter';
    display: flex;
}

.receifeInfoIngredientText {
    font-weight: bold;
    margin-right: 8px;
}

.receipeInfoText {
    font-family: 'Inter';
}

.instructionText {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 15px;
}

.onlineStatus {
    background-color: #f2f2f2;
    cursor: not-allowed !important;
}